ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  ul.custom-list {
    list-style-type: square;
    color: $secondary-color;
  }
  
  ol.custom-list {
    list-style-type: lower-alpha;
    color: $primary-color;
  }