// _mixins.scss

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin respond($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 600px) {
        @content;
      }
    }
  }