//Typography

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    color: $primary-color;
    margin-bottom: 1rem;
}

  
p {
    font-family: $font-family;
    color: $secondary-color;
    line-height: 1.6;
}